<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>账户总览</title>
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/account.css" />
    <link rel="stylesheet" href="../font/iconfont.css" />
</head>
<body>
    <div id="main"></div>
    <script type="text/javascript" src="../libs/react.js" ></script>
    <script type="text/javascript" src="../libs/react-dom.min.js" ></script>
    <script type="text/javascript" src="../libs/u_event_hub.js"></script>
</body>
</html>