<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册成功</title>
		<link rel="stylesheet" href="../css/public.css" />
		<link rel="stylesheet" href="../css/login.css" />
		<link rel="stylesheet" href="../font/iconfont.css" />
	</head>
	<body class="login">
	<div id="main"></div>
    <script type="text/javascript" src="../libs/react.js" ></script>
    <script type="text/javascript" src="../libs/react-dom.min.js" ></script>
    <script type="text/javascript" src="../libs/u_event_hub.js"></script>
	</body>
</html>
